/* Header.css */
.custom-container {
    border: 1px solid;
    padding: 16px;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  